<div class="new-password-form-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Change your password!</mat-card-title>
        </mat-card-header>
        <form [formGroup]="authNewPasswordForm" (ngSubmit)="authNewPasswordFormSubmission()">

            <mat-form-field appearance="outline">
                <mat-label>Enter your password</mat-label>
                <input matInput type="password" (keyup)="authNewPasswordForm.get('confirmPassword').updateValueAndValidity()"
                    placeholder="password" formControlName="password">
                <mat-error *ngIf="!authNewPasswordForm.get('password').valid">password is required</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>Enter your confirm password</mat-label>
                <input matInput type="password" appConfirmEqualValidator="password" placeholder="Confirm password"
                    formControlName="confirmPassword">
                <mat-error *ngIf="!authNewPasswordForm.get('confirmPassword').valid">{{getErrorMessageForConfirmPassword()}}
                </mat-error>
            </mat-form-field>

            <div class="mt-20">
                <button class="mr-10" mat-stroked-button color="primary" type="submit">Confirm</button>
                <button mat-stroked-button color="primary" type="button" routerLink="/auth/sign-in">Cancel</button>
            </div>
        </form>
    </mat-card>
</div>