<button mat-raised-button color="primary" class="btn-margin" routerLink="/blogs/create">Add Blog</button>

<div *ngIf="dataSource.data.length ===0; else blogs">
    <app-no-data [title]="noDataTitle"></app-no-data>
</div>
<ng-template #blogs>
    <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>
                SI No.
            </th>
            <td mat-cell *matCellDef="let element; let i =index">
                <div class="text-decoration">
                    {{ i+1 }}
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>
                Title
            </th>
            <td mat-cell *matCellDef="let element" matTooltip="{{ element.title }}">
                <div class="hideContent">
                    {{ element.title }}
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="subTitle">
            <th mat-header-cell *matHeaderCellDef>
                Subtitle
            </th>
            <td mat-cell *matCellDef="let element" matTooltip="{{ element.subTitle }}">
                {{ element.subTitle }}
            </td>
        </ng-container>

        <ng-container matColumnDef="desc">
            <th mat-header-cell *matHeaderCellDef>
                Description
            </th>
            <td mat-cell *matCellDef="let element">
                <div class="hideContent" matTooltip="{{ element.desc }}">
                    {{ element.desc }}
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">
                <mat-icon class="pointer-icon" [routerLink]="['/blogs/edit', element.title]">edit
                </mat-icon>
                <mat-icon class="pointer-icon" (click)="onDeleteBlog(element.title)">delete
                </mat-icon>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns"></tr>
    </table>
    <mat-paginator #myPaginator [pageSizeOptions]="[10, 20,50]" showFirstLastButtons></mat-paginator>
</ng-template>
