/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.mt-20{
    margin-top: 20px !important;
}

.success{
    background-color: #225792;
    font-weight: 600;
    color: #fff;
  }
  
  .error{
    background-color: #871518;
    color: #fff;
  }
  
  .warning{
    background-color: #e76c27;
  
    color: #fff;
  }
  
  .mat-simple-snackbar{
    justify-content: center !important;
    font-family: inherit;
    font-weight: 500;
  }